<%= form_with model: vendor, url: target_url do |f| %>
  <% if vendor.new_record? %>
    <%= f.hidden_field :store_id, value: store.id %>
  <% end %>
  
  <div class="field">
    <%= f.label :業者名 %><br>
    <%= f.text_field :vendor_name %>
  </div>
  
  <div class="field">
    <%= f.label :発注先URL %><br>
    <%= f.text_field :url %>
  </div>
    
  <div class="field">
    <%= f.label :電話番号 %><br>
    <%= f.text_field :phone %>
    </div>
    
  <div class="field">
    <%= f.label :担当者名 %><br>
    <%= f.text_field :name %>
  </div>
  
  <%= f.submit submit_text %>
<% end %>