<h2>外注先登録</h2>
<%= form_with model: @vendor, url: employees_vendors_path do |f| %>
<div class="field">
  <%= f.label :業者名 %><br>
  <%= f.text_field :vendor_name %>
</div>

<div class="field">
  <%= f.label :発注先URL %><br>
  <%= f.text_field :url %>
</div>
  
<div class="field">
  <%= f.label :電話番号 %><br>
  <%= f.text_field :phone %>
  </div>
  
<div class="field">
  <%= f.label :担当者名 %><br>
  <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.collection_select :store_id, current_employee.stores, :id, :name %>
  </div>
  
  <%= f.submit '登録' %>
<% end %>