<h1>業者詳細</h1>

<table>
  <tr>
    <th><%= @vendor.name %></th>
    <th><%= @vendor.url %></th>
    <th><%= @vendor.phone %></th>
    <th><%= @vendor.name %></th>
  </tr>
  <%= link_to "編集", edit_vendor_path(@vendor.id) %>
  <% if current_employee.stores.include?(@vendor.store) %>
    <%= link_to "削除", vendor_path(@vendor), method: :delete, "data-confirm" => "本当に削除しますか？" %>
  <% end %>
</table>

<%= link_to "業者", store_vendors_path(@store), class: "btn btn-primary" %>