
<div class="form-group">
  <%= f.label :genre, "ジャンル" %>
  <%= f.collection_select :genre, Post.genres_i18n.to_a, :first, :last, { include_blank: "--select--" }, { class: "form-control", id: "postGenre" } %>
</div>

<div class="form-group" id="postVendor">
  <%= f.label :vendor_id, "業者名" %>
  <%= f.collection_select :vendor_id, @store.vendors, :id, :vendor_name, { include_blank: "--select--" }, { class: "form-control" } %>
</div>

<div class="form-group">
  <%= f.label :title, "タイトル" %>
  <%= f.text_field :title, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :body, "本文" %>
  <%= f.text_area :body, rows: 5, class: "form-control" %>
</div>

<%= f.hidden_field :store_id, value: @store.id %>

<script>
  <% if @post.genre != "vendor" %>
    $('#postVendor').hide();
  <% end %>
  $('#postGenre').on('change', (e) => {
    if (e.target.value === 'vendor') {
      $('#postVendor').show();
    } else {
      $('#postVendor').hide();
    }
  })
</script>