<div class="row">
  <div class="col-md-12 offset-md-0 col-sm-8 offset-sm-2">
    <div class="card">
      <div class="card-body">
        <div class="card-title d-flex justify-content-center">
         <!--完成前に連絡一覧の名前に変更すること-->
          <h2>投稿一覧</h2>
        </div>
<table class= "table table-bordered">
  <tr>
    <th>name</th>
    <th>タイトル</th>
    <th>内容</th>
  </tr>
  <% @posts.each do |post| %>
  <tr>
    <td><%= post.employee.name %></td>
    <td><%= link_to post.title, post_path(post.id) %></td>
    <td><%= post.body %></td>
    <td><%= link_to "#{post.comments.count} コメント", post_path(post) %></td>
  </tr>
  <% end %>
</table>
<div class="container">
  <div class="row justify-content-center">
    <%= link_to "新規投稿", new_store_post_path(@store), class: "border border-warning btn btn-secondary mb-4 ml-4" %>
    <%= link_to "店舗詳細", store_path(@store), class: "border border-warning btn btn-secondary mb-4 ml-4" %>
  </div>
</div>
<!--<%#= link_to 'posts', employees_posts_path %>-->
<!--<%#= link_to 'piyopiyoアクセス', piyopiyo_path %>-->