<div class="row">
  <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2">
    <div class="card mt-4">
      <div class="card-body">
        <div class="card-title d-flex justify-content-center">
          <h2>Log in</h2>
        </div>
        <%= form_with(model: @employee, url: employee_session_path) do |f| %>
          <%= render "employees/shared/error_messages", resource: @employee %>
          
          <div class="form-group">
            <%= f.label :email, "メールアドレス", class: "form-label" %>
            <%= f.email_field :email, class: "form-control" %>
          </div>
        
          <div class="form-group">
            <%= f.label :password, "パスワード", class: "form-label" %><br>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>
      
          <div class="form-group d-flex justify-content-center">
            <%= f.submit "Log in", class: "btn btn-primary px-5" %>
          </div>
          <%= f.hidden_field :store_admin, value: true %>
        <% end %>
        <%= render "employees/shared/links" %>
      </div>
    </div>
  </div>
</div>