<!DOCTYPE html>
<html>
  <head>
    <title>SSC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--<%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <% if employee_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_employee_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "新規登録", new_employee_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_employee_session_path %>
      </li>
      <li>
        <%= link_to "ホーム", employees_homes_top_path %>
      </li>
    <% end %>
  </header>
  共通だよ
    <%= yield %>
  </body>
</html>
