<!DOCTYPE html>
<html>
  <head>
   <title>SSC--Staff shearing community--</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--<%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/041e521652.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-info ">
        <div class="container">
          <%= link_to "--SSC--", root_path, class: "navbar-brand" %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item d-flex">
                <i class="fa-solid fa-pen-nib nav-link pr-0"></i>
                <%= link_to "SSCについて", about_path, class: "nav-link" %>
              </li>
              <% if employee_signed_in? %>
                <% if current_employee.store_admin? %>
                <% end %>
                <li class="nav-item d-flex">
                  <i class="fa-solid fa-house nav-link pr-0"></i>
                  <%= link_to "ホーム", top_path, class: "nav-link" %>
                </li>
                <li class="nav-item d-flex">
                  <i class="fa-solid fa-hands nav-link pr-0"></i>
                  <%= link_to "ログアウト", destroy_employee_session_path, method: :delete, class: "nav-link" %>
                </li>
              <% elsif admin_signed_in? %>
                <li class="nav-item d-flex ">
                  <i class="fa-solid fa-hands nav-link pr-0"></i>
                  <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
                </li>
              <% else %>
                <li class="nav-item d-flex">
                  <i class="fa-solid fa-address-card nav-link pr-0"></i>
                  <%= link_to "会員登録", new_employee_registration_path, class: "nav-link" %>
                </li>
                <li class="nav-item d-flex">
                  <i class="fa-solid fa-right-to-bracket nav-link pr-0"></i>
                  <%= link_to "ログイン", new_employee_session_path, class: "nav-link" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
      <%# if Rails.env.development? %>
      <% if false %>
        <div>
        <%= debug params %>
        employee: <%= current_employee.inspect %><br>
        admin: <%= current_admin.inspect %>
        </div>
      <% end %>
    </div>
    <div id="footer" class="fixed-bottom" style="height:60px; background-color: #00CED1;">
      <h4 class="d-flex mt-3 justify-content-center" style="color: darkgrey;">Staff Sharing Community</h4>
    </div>
  </body>
</html>
